# Opteryx Example - Simple Query & Display

This Jupyter Notebook demonstrates how to use Opteryx to run a basic SQL query against an internal sample dataset. We will walk through the following steps:

- Installing the Opteryx package
- Importing the Opteryx library
- Defining an SQL query
= Establishing a connection to the internal dataset
= Executing the query and displaying the results

In [ ]:
!pip install --upgrade --quiet opteryx

In [ ]:
# Import the Opteryx Library
import opteryx

In [ ]:
# Define SQL Statement
sql_statement: str = "SELECT * FROM $planets;"

"""
Defines the SQL query to be executed. For this example, we are selecting all columns from the
internal dataset named $planets.
"""

# Create a Connection
conn = opteryx.connect()
"""
Creates a connection to the internal dataset. Since $planets is an internal dataset, no additional
configuration is required for the connection.
"""

# Create a Database Cursor
cursor = conn.cursor()
"""
The cursor object enables executing SQL commands through the Opteryx library. It's your primary interface
with the database.
"""

# Execute SQL Statement
cursor.execute(sql_statement)
"""
This command executes the SQL statement defined earlier. It runs the query against the database.
"""

# Display the First 10 Results
cursor
"""
Displays the first 10 rows of the query result. This gives a snapshot of the data you queried for.
"""

# Great Job!

You've successfully executed your first SQL query using Opteryx and displayed the results! This is a simple example, but it opens the door to a multitude of possibilities.

**Level Up Your Skills ðŸš€**

- Why stop at $planets? Take a spacewalk through other internal datasets like $satellites or $astronauts.
- Unleash your inner data explorer by playing around with different SQL commandsâ€”sort, filter, and aggregate to your heart's content!
- Craving more power? Check out Opteryx's documentation to unlock more advanced features!
- So go ahead, take the controls and boldly query where no one has queried before!